.form {
  margin: 60px auto;
  padding-bottom: 30px;
  width: 60%;
  min-height: 700px;
  background-color: white;

  border-radius: 9px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
  &-title {
    padding-top: 20px;
    text-align: center;
    color: black;
  }
  &-label {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
  }
  &-btn {
    margin-top: 60px;
  }
  &-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 12px;
  }
  &-textarea {
    display: grid;
    position: relative;
    border-bottom: black;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 20px;
    font-size: 12px;
  }
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.checkbox {
  padding-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
nav h3 {
  margin: 1rem;
  cursor: pointer;
  color: #718096;
}
nav h3:hover {
  color: white;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input[type="checkbox"] {
  width: fit-content;
  transform: scale(1.25);
}

button {
  display: block;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:disabled {
  opacity: 0.35;
}

input.input-error,
select.input-error {
border-color: #fc8181;
}

.button-85 {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  width: 100%;
}

.button-85:disabled {
  cursor: default;
}

.button-85:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}